sum() len() ord() chr() id() list() set() dict() min() max() pow()

In [2]:
def function_name():
    return

In [3]:
def do_nothing():
    pass

In [4]:
do_nothing()

In [5]:
def make_a_sound():
    print("quack")

In [6]:
def agree():
    return True

In [7]:
make_a_sound()
agree()

quack

True

In [8]:
type(make_a_sound()), type(agree())

quack

(NoneType, bool)

In [12]:
def echo(anything):
    return anything + ' ' + anything

In [13]:
echo('yahoo'), echo(echo('yahoo'))

('yahoo yahoo', 'yahoo yahoo yahoo yahoo')

In [16]:
thing=None
if thing:
    print("It's some thing")
else:
    print("It's no thing")

It's no thing

In [15]:
None == True, 0 == True, 10 ==True

(False, False, False)

In [17]:
def whatis(thing):
    if thing:
        print("It's some thing")
    else:
        print("It's no thing")

In [18]:
whatis(thing), whatis(True), whatis(100), whatis([])

It's no thing
It's some thing
It's some thing
It's no thing

(None, None, None, None)

In [25]:
def works(arg):
    result=[]
    result.append(arg)
    print(result)

In [26]:
works('a')
works('b')

['a']
['b']

In [21]:
buggy('a')

['a']

In [22]:
buggy('b')

['a', 'b']

In [32]:
def nobuggy(arg, result=None):
    if result is None:
        result=[]
    result.append(arg)
    return result

In [33]:
nobuggy('a')

['a']

In [34]:
nobuggy('b')

['b']

In [36]:
def print_args(*parameters):
    print('위치 튜플 : ', parameters)

In [38]:
print_args(1,2, 'adbd')

위치 튜플 :  (1, 2, 'adbd')

In [39]:
def print_kwargs(**parameters):
    print("keyword arguments : ", parameters)

In [40]:
print_kwargs(name='kim', phone='1234', addr='dong')

keyword arguments :  {'name': 'kim', 'phone': '1234', 'addr': 'dong'}

#### 독스트링

In [41]:
def echo(anything):
    '에코는 입력값을 리턴값으로 보낸다.'
    return anything

In [42]:
help(echo)

Help on function echo in module __main__:

echo(anything)
    에코는 입력값을 리턴값으로 보낸다.

In [43]:
print(echo)

<function echo at 0x0000018112C1C4C0>

In [44]:
echo.__doc__

'에코는 입력값을 리턴값으로 보낸다.'

In [46]:
pow.__doc__

'Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments\n\nSome types, such as ints, are able to use a more efficient algorithm when\ninvoked using the three argument form.'

In [48]:
print(echo.__doc__)

에코는 입력값을 리턴값으로 보낸다.

In [47]:
type(echo)

function

In [ ]:
# add(x,y) = x + y

In [49]:
def enliven(word):
    return word.capitlize()+"!"

In [50]:
def edit_story(words, func):
    for word in words:
        print(func(word))

In [51]:
mylen = len

In [52]:
mylen('abc')

3

In [53]:
len.__doc__

'Return the number of items in a container.'

In [57]:
stairs = ['thuds', 'meow', 'thud', 'hiss']

In [58]:
edit_story(stairs, len)

5
4
4
4

In [ ]:
(lambda x: x+1)(10)

In [59]:
lambda x: x+1

In [60]:
_(12)

13

In [ ]:
lambda x,y:

In [61]:
mysum = sum

In [62]:
mysum(range(1,101))

5050

In [63]:
print(list(range(1,101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [64]:
map(lambda x: pow(x,2), range(1,101))

In [65]:
import seaborn as sns
import pandas as pd

In [66]:
iris = sns.load_dataset('iris')

In [67]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
iris.

In [70]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [69]:
iris[['sepal_length','sepal_width']]

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [71]:
data = iris[['sepal_length','sepal_width']]

In [72]:
data.applymap(lambda x: pow(x,2))

     sepal_length  sepal_width
0           26.01        12.25
1           24.01         9.00
2           22.09        10.24
3           21.16         9.61
4           25.00        12.96
..            ...          ...
145         44.89         9.00
146         39.69         6.25
147         42.25         9.00
148         38.44        11.56
149         34.81         9.00

[150 rows x 2 columns]

In [73]:
iris.sepal_width

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64

In [74]:
iris.sepal_width.map(lambda y: y+100).head(2)

0    103.5
1    103.0
Name: sepal_width, dtype: float64

In [76]:
def make_level(x):
    if x > 4.0:
        return 'high'
    elif x > 3.0:
        return 'mid'
    else:
        return 'low'

In [77]:
iris.sepal_width.map(make_level)

0      mid
1      low
2      mid
3      mid
4      mid
      ...
145    low
146    low
147    low
148    mid
149    low
Name: sepal_width, Length: 150, dtype: object

In [78]:
iris.sepal_width.map(make_level).head(2)

0    mid
1    low
Name: sepal_width, dtype: object

#### 제너레이터 함수(generator function)

In [79]:
## 스퀀스 sequence 순서 iterator

In [80]:
## range()

In [81]:
print(list(range(0,10,1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
def my_range(first=0, last=10, step=1):
    number = first
    while number < last:
        yield number
        number+=step

In [83]:
my_range()

In [84]:
list(my_range())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]