## calcsum

In [2]:
def calcsum(n):
    sum = 0
    for num in range(n + 1):
        sum += num
    return num
print("~ 4 =", calcsum(4))
print("~ 10 =", calcsum(10))

~ 4 = 4
~ 10 = 10

### calcrange

In [3]:
def calcrange(begin,end):
    sum=0
    for num in range(begin, end+1):
        sum+=num
    return sum
print("3 ~ 7 =", calcrange(3,7))

3 ~ 7 = 25

### printsum

In [4]:
def printsum(n):
    sum=0
    for num in range(n+1):
        sum+=num
    print("~", n, "=", sum)
    
printsum(4)
printsum(10)

~ 4 = 10
~ 10 = 55

### vararg

In [5]:
def intsum(*ints):
    sum=0
    for num in ints:
        sum+=num
    return sum

print(intsum(1, 2, 3))
print(intsum(5, 7, 9, 11, 13))
print(intsum(8, 9, 6, 2, 9, 7, 5, 8))

6
45
54

### defaultarg

In [6]:
def calcstep(begin, end, step):
    sum=0
    for num in range(begin, end+1,step):
        sum+=num
    return sum

print("1 ~ 10 =", calcstep(1, 10, 2))
print("2 ~ 10 =", calcstep(2, 10, 2))

1 ~ 10 = 25
2 ~ 10 = 30

### calcstep

In [8]:
def calcstep(begin, end, step=1):
    sum=0
    for num in range(begin, end+1,step):
        sum+=num
    return sum

print("1 ~ 10 =", calcstep(1, 10, 2))
print("1 ~ 100 =", calcstep(1, 100))

1 ~ 10 = 25
1 ~ 100 = 5050

### keywordarg

In [9]:
def calcstep(begin, end, step):
    sum=0
    for num in range(begin, end+1,step):
        sum+=num
    return sum

### keywordvararg

In [10]:
def calcstep(**args):
    begin = args['begin']
    end = args['end']
    step = args['step']
    
    sum=0
    for num in range(begin, end+1, step):
        sum+=num
    return sum

print("3 ~ 5 =", calcstep(begin=3, end=5, step=1))
print("3 ~ 5 =", calcstep(step=1,end=5,begin=3))

3 ~ 5 = 12
3 ~ 5 = 12

### calcscore

In [11]:
def calcscore(name, *score, **option):
    print(name)
    sum=0
    for s in score:
        sum+=s
    print('총점 :',sum)
    if(option['avg']==True):
        print('평균 :',sum/len(score))
        
calcscore('김상형', 88, 99, 77, avg=True)
calcscore('김한슬', 99, 98, 95, 89, avg=False)

김상형
총점 : 264
평균 : 88.0
김한슬
총점 : 381

### local

In [23]:
def kim():
    temp = "김과장의 함수"
    print(temp)
    
kim()

김과장의 함수

In [24]:
def kim():
    temp = "김과장의 함수"
    print(temp)
    
print(temp)

NameError: name 'temp' is not defined

### local2

In [25]:
def kim():
    temp='김과장의 함수'
    print(temp)
    
def lee():
    temp=2**10
    return temp

def park(a):
    temp=a*2
    print(temp)
    
kim()
print(lee())
park(6)

김과장의 함수
1024
12

### global

In [27]:
salerate=0.9

def kim():
    print('오늘의 할인율 :',salerate)
   
def lee():
    price=1000
    print('가격:', price*salerate)
    
kim()
salelate=1.1
lee()

오늘의 할인율 : 0.9
가격: 900.0

### global2

In [40]:
price = 1000
def sale():
    price = 500
    
sale()
print(price)

1000

### global3

In [42]:
price=1000

def sale():
    global price
    price=500
    
sale()
print(price)

500